@charset "utf-8";
/* 主页 */
* { font-family:"黑体-简"; text-shadow:none;}
a { text-decoration:none;}
.ui-body-c a.ui-link,.ui-body-c a.ui-link:hover,.ui-body-c a.ui-link:visited { color:inherit;}
p { text-align:left;}
img { display:block; height:auto; margin:auto; max-width:100%;}

body { background:url(../img/bg.jpg) repeat;}
#main { position:relative;}
.top,.top1 { width:100%; height:44px; background:#262626 url(../img/top_bg.png) no-repeat center top; }
.top img { width:91px; height:21px; padding-top:10px; text-align:center;}
.top1 a img { float:left; width:12px; height:18px; margin:13px 0 0 15px;}
.top1 h1 { font-size:19px; margin-left:40%; line-height:44px; color:#fff;}

.content { margin:15px 20px;}
.content li { display:block; height:50px; margin:15px 0; background:#18120d;}
.content li.active .bg_l { float:left; width:22px; height:50px; background:url(../img/nr_bg01.png) no-repeat;}
.content li .bg_l { float:left; width:22px; height:50px; background:url(../img/nr_bg02.png) no-repeat;}
.content li .bg_r img { float:right;}
.nav li a { display:block; height:50px; color:#cbcbcb; font-size:20px; line-height:50px;}
.nav li a img { float:left; margin:12px 20px 0 30px;}
.nav li a.ui-link { color:#ff9933; font-size:20px; line-height:50px;}
.nav li a.ui-link .jt { float:right; background:url(../img/jt_01.png) no-repeat; width:13px; height:19px; margin:15px 20px 0 0;}
.nav li a .jt { float:right; background:url(../img/jt_02.png) no-repeat; width:13px; height:19px; margin:15px 20px 0 0;}

.nr { margin:20px;}
.btn { margin:20px 0; background:#ff9933; border:1px solid #ff862d; border-radius:3px; width:100%; height:40px; color:#fff; font-size:16px; font-family:"黑体-简";}
.btn1 { background:#f2f2f2; border:1px solid #e0e0e0; border-radius:3px; width:100%; height:40px; color:#4a4a4a; font-size:16px; font-family:"黑体-简";}

/* 填写信息 */
.sr,.yysj { width:100%; border:1px solid #e0e0e0;}
.sr input,.yysj input { width:100%; height:43px; font-size:14px; color:#858585; padding-left:10px; border:none;}
.bor { border-bottom:1px solid #e0e0e0;}
.help { display:block; width:100%; font-size:14px; color:#858585;}
.help1 { float:left; margin-top:2px; width:14px; height:14px; border-radius:7px; background:#ff862d; font-size:10px; text-align:center; color:#fff;}
.help a { color:#6eb74b;}

/* 预约时间 */
.time { position:relative;}
.time a { float:right; position:absolute; right:10px; top:12px; font-size:15px; color:ff7f00;}
.time a img { float:right; margin:3px 0 0 5px;}
.sj_top { width:100%; height:auto; background:#fff; border-bottom:1px solid #e0e0e0;}
.sj { border:1px solid #ff9933; border-radius:3px; width:62%; height:29px; margin:10px 0; margin-left:25%; display:inline-block; *display:inline; *zoom:1;}
.sj a { float:left; width:50%; color:#ff9933; text-align:center; line-height:29px;}
.sj a.sj_active { width:50%; height:29px; background:#ff9933; color:#fff; line-height:29px; display:block;}

.nr_sj { margin:20px 0 0 50px;}
.nr_sj .cb { position:relative; padding:0 20px;}
.nr_sj .sj_pub { position:absolute; left:-10px; top:0; width:22px; height:73px;}
.nr_sj .active .nr_sj_l { background:url(../img/sj_01.png) no-repeat center 20px;}
.nr_sj .active .nr_sj_l a { display:block; width:100%; background:url(../img/line.gif) repeat-y center;}
.nr_sj .sj_pub a { display:block; width:100%; background:url(../img/line_h.gif) repeat-y center; position:relative; top:42px; z-index:999;}
.nr_sj .sj_pub a em { position:absolute; left:-25px; top:-20px; color:#b5b5b5;}
.nr_sj .active .nr_sj_l a em { color:#ff9933;}

.nr_sj .nr_sj_l { background:url(../img/sj_02.png) no-repeat center 20px;}
.nr_sj .nr_sj_l1 { background:url(../img/sj_03.png) no-repeat center 20px;}
.nr_sj .active .nr_sj_l1 { background:url(../img/sj_04.png) no-repeat center 20px;}
.nr_sj .active .nr_sj_l1 a { display:block; width:100%; background:url(../img/line.gif) repeat-y center;}
.nr_sj .active .nr_sj_l1 a em { color:#ff9933;}

.nr_sj_r a { float:left; color:#858585; margin:3px; font-size:14px; width:86px; height:30px; text-align:center; line-height:30px; background:#f2f2f2; display:inline-block; *display:inline; *zoom:1;}
.nr_sj_r a.active { background:#ff9933; color:#fff;}

/* 在线支付 */
.zf_top { color:#858585; font-size:14px;}
.jg { font-size:25px; color:#ff7f00; margin:0 5px;}
.zf_nr { margin-top:10px;}
.zf_nr h1 { font-size:16px; color:#4a4a4a; margin:0 0 10px 20px;}
.zf_nr a { float:left; width:100%; color:#4a4a4a; font-size:16px; line-height:50px; background:#fff; border-bottom:1px solid #e0e0e0;}
.zf_nr a.zf_link { border-top:1px solid #e0e0e0;}
.zf_nr a img { float:left; width:26px; height:26px; padding:12px 0; margin:0 10px 0 20px;;}
.zf_cg { height:29px; line-height:29px; color:#4a4a4a; font-size:16px;}
.zf_tu { float:left; width:30px; height:30px; border-radius:15px; background:#6eb74b; margin-right:10px;}
.zf_cg img { margin:10px 7px; }

.cg_nr { background:#fff; border-top:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; margin-top:20px;}
.cg_nr p { color:#858585; font-size:14px;padding:2px 0; line-height:20px;}
.cg_nr1 { margin:20px;}
.sm { font-size:12px; color:#ff7f00; line-height:20px;}

/* 车检须知 */
.nr1 { margin-bottom:20px;}
.nr1 h1 { font-size:16px; color:#202020;}
.nr1 p { color:#4a4a4a;font-size:14px; line-height:20px; margin-top:10px; text-indent:20px;}

/* 联系我们 */
.lx,.add { border:1px solid #e0e0e0; background:#fff; height:auto;}
.add { margin-top:20px;}
.lx_top,.add_top { height:auto; border-bottom:1px solid #e0e0e0; background:#fafafa;}
.lx_top h1,.add_top h1 { color:#858585; font-size:14px; line-height:34px; margin-left:10px;}
.lx a { color:#4a4a4a; font-size:25px; font-family:"Adobe devanagari"; font-weight:bold;}
.lx a { line-height:60px;}
.phone,.addr { float:left; width:36px; height:36px; border-radius:18px;}
.phone { margin:10px; background:#6eb74b;}
.addr { margin:20px 10px; background:#23b2ea;}
.phone img { float:left; margin:9px;}
.addr img { float:left; margin:9px 11px;}
.add a { color:#4a4a4a;}
.add_nr { padding:12px 0;}
.add a p { line-height:20px;}
.weix_nr { padding:20px 0;}
.weix_nr p { margin-left:10px; line-height:20px; color:#4a4a4a;}
.weix_nr img { margin-top:20px;}