/* 全局 */
body {
	font-family: "Microsoft Yahei",宋体;
}
span {
	font-family: "Arial";
}
*{padding:0;margin:0;font-size:12px; color:#3e3e3e;}

.white{ background:#fff;} 	
li{list-style-type:none;}
a{text-decoration:none;}
a:hover{text-decoration:none;}	
h1{ float:left; margin:15px 0 0;}
h1 a{text-indent:-9999px; width:213px; height:35px; background:url(../img/logo.png); display:block;}
.thumbnail{ border:0; padding:0; margin:0;}
.shouye{
	position:relative;
}
.d1{
	position:absolute;
	top:370px;
	left:50px;
}
.d2{
	position:absolute;
	top:230px;
	left:90px;
}
.d3{
	position:absolute;
	top:240px;
	left:42%;
}
.d4{
	position:absolute;
	top:360px;
	left:62%;
}
.d5{
	position:absolute;
	top:520px;
	left:65%;
}

/* 导航 */
.index-head { position:absolute;}
.cont-nav a {
	display:block;
	width:100%;
	height:100%;
	font-size:16px;
	color: #fff;
	text-align:center;
	vertical-align:middle;
	border-radius:50%;
	/* 半透明 */
	filter:alpha(Opacity=85);
	-moz-opacity:0.85;
	opacity: 0.85;
	z-index:100;
}
.cont-nav .col-xs-7:nth-child(1) a{ background:#990203; font-size:32px;}
.cont-nav .col-xs-3:nth-child(2) a{ background:#88ae10;}
.cont-nav .col-xs-3:nth-child(3) a{ background:#ae7710;}
.cont-nav .col-xs-3:nth-child(4) a{ background:#bc4a00;}
.cont-nav .col-xs-3:nth-child(5) a{ background:#7f2a00;}
@media (min-width: 640px) {
   .container {
    width: 640px;
  }
}
@media (max-width: 640px) {
 .cont-nav a{ font-size:16px;}
}
@media (max-width: 480px){
 .cont-nav a{ font-size:12px;}
}

/* 子页全局 */
.page-bg {
	padding-bottom: 30px;
	background: url(../images/page_bg1.jpg) center top no-repeat;
	background-size: 100% 100%;
}

.header {
	padding: 10px;
	background: url(../images/white_bg.png);
}

.header-title {
	padding: 5px 15px;
	background: #9b3803;
	color: #fff;
	font-size: 18px;
}

.shadow {
	height: 8px;
	background: url(../images/title_topbg.png) top left repeat-x;
}

.header-title span {
	margin-left: 10px;
	font-weight: normal;
	font-size: 14px;
	color:#fff;
}
/* 企业文化 */
.content-box {
	margin: 8px 0;
}

.content-box.culture-bg {
	background: url(../images/culture_box_bg.png) right top repeat-y;
}

.ct-content {
	margin: 15px 0;
}

.ct-content img {
	float: left;
	margin-right: 10px;
}

.ct-content span {
	color: #b90000;
}

.ct-content h3 {
	margin: 0;
	font-size: 14px;
	color: #53b900;
}

.ct-content p {
	margin-top: 10px;
	font-size: 12px;
}
/* 品牌故事 */
.story-bg, .introduce-bg, .news-bg {
	padding: 15px 0;
	background:rgba(255,255,255,0.8);
	display:inline-block;
}
.story-bg img { margin-left:15px;}
/* 产品展示 */
.product-box {
	padding: 15px;
	background: #fff;
	border: 1px dashed #00b400;
}

.product-box a {
	outline: none;
}

.product-box a:hover{
	background: #fff;
	border: 2px solid #1ebe04;
	border-radius: 5px;
}

.product-title {
	margin-bottom: 5px;
	padding: 7px;
	font-size: 14px;
	color: #fff;
	background: #a40000;
}

.product-text {
	margin-top: 5px;
	padding: 5px;
	font-size: 12px;
	color: #000;
	background: #f0f0f0;
}

.product-text span {
	color: #1ebe04;
}

/* 产品介绍 */
.introduce-bg img {
	margin:20px;
}

.introduce-bg p {
	font-size: 14px;
	margin:0 20px;
	text-indent:20px;
	line-height:20px;
}

.introduce-bg p span {
	color: #2a6e01;
}

/* 最新动态 */
.news-text p.title {
	font-size: 12px;
	font-weight: bold;
	color: #a10303;
}

.news-text {
	font-size: 12px;
}

.news-text.date {
	color: #ccc;
}

.news-text p span.browse {
	margin-left: 5px;
}

.news-text p span img {
	margin-right: 5px;
}
/* 联系我们 */
.contact {
	font-size: 16px;
	border-top: 3px solid #46bb00;
	background: #fff;
}

.contact-title {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

.contact-text {
	padding: 10px 0;
	text-align: center;
}

.contact-text span {
	color: #46bb00;
}
/* 菜单 */
.section {
	padding: 0 3px;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.section h2 {
	font-size: 16px;
	font-weight: bold;
	padding: 5px 5px;
	color: #5b5b5b;
}

.btns .ui-button {
	vertical-align: bottom;
}

#container {
	position: relative;
	height: 300px;
}
#btn1, #btn2, #btn3, #btn4 {
	position: absolute;
	left: 5px;
	top: 5px;
}
#btn2 {
	left: 50%;
	margin-left: -20px;
}
#btn3 {
	left: auto;
	right: 5px;
}
#btn4 {
	top: auto;
	left: 50%;
	margin-left: -10px;
	bottom: 5px;
}